.status-error {
    top:57px;
    font-size: 100px;
}
.message-error {
    width: 991px;
    left: 250px;
    top:200px;
    font-size: 25px;
}
.cactus-error {
    width: 465px;
    height:466px;
    left: 488px;
    top: 250px;
    position: absolute
}