.navigate-word-post{
    position: absolute; left: 491px; top: 222px; font-size: 17px;
}

.pop-up {
    display: none;
    height:100%;
    width:100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}
.pop-up.active{
    display: block;
}
.pop-up-container{
    display: flex;
    height:100%;
    width:100%;
}
.pop-up-body{
    height: 200px;
    width: 450px;
    left: 495px;
    top: 100px;
    background-color: #96F486;
    border-radius: 20px;
    border: 1px black solid;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}
textarea{
    width: 455px;
    height: 170px;
    left: 10px;
    top: 130px;
    position: absolute;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px white solid;
    resize: none;

    color: black;
    font-size: 20px;
    font-family: Inter, serif;
    font-weight: 300;
    word-wrap: break-word;
}

.button-create-post{
    width: 150px; height: 40px; left: 300px; top: 330px;
    position: absolute;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px #D4D4D4 solid;
    cursor: pointer;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Inter, serif;
    font-weight: 300;
    word-wrap: break-word;
}

.word{
    left: 40px; top: 90px; font-size: 25px; position: absolute;
}

.pop-up-close {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;

    &:hover {
        opacity: 1;
    }
}

.pop-up-close::before,
.pop-up-close::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.pop-up-close::before {
    transform: rotate(45deg);
}

.pop-up-close::after {
    transform: rotate(-45deg);
}